<!DOCTYPE html>
<!--Ejercicio 1 Asignatura Grafica Interactiva por Gabriela Avila-->
<html>
  <head>
    <meta charset="UTF-8" />
    <meta lang="es" />
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <title>Detroit Lakes Minnesota</title>
    <link href="../stylesheet/estilos.css" rel="stylesheet" type="text/css" />
    <!--Se nombra el archivo que contiene todos los estilos-->
  </head>

  <body>
    <!--Estableciendo el titulo de la pagina web-->
    <div class="menunav">
      <h1>
        <a href="inicio.html" target="_self">DETROIT LAKES - MINNESOTA</a>
      </h1>
      <div class="dropdown">
        <button class="drop-button">☰</button>
        <div class="dropdown-content">
          <nav>
            <!--Menu de navegación para establecer botones-->
            <li>
              <a class="botonMenu" href="primerapagina.html" target="_self"
                >Espacio físico y ubicación</a
              ><!--Estilo "botonMenu" a cada uno de los botones-->
            </li>
            <li>
              <a class="botonMenu" href="segundapagina.html" target="_self"
                >Personajes que habitan</a
              >
            </li>
            <li>
              <a class="botonMenu" href="tercerapagina.html" target="_self"
                >Actividades del lugar</a
              >
            </li>
            <li>
              <a class="botonMenu" href="cuartapagina.html" target="_self"
                >Historia del lugar</a
              >
            </li>
            <li>
              <a class="botonMenu" href="quintapagina.html" target="_self"
                >Bibliografía</a
              >
            </li>
            <li>
              <a class="botonMenu" href="sextapagina.html" target="_self"
                >Mapa Interactivo</a
              >
            </li>
          </nav>
        </div>
      </div>
    </div>

    <div class="contenido">
      <img
        src="../pictures/fondodetroit.jpg"
        width="620px"
        height="380px"
        alt="fondodetroit html"
      />
      <p class="uno">
        Bienvenidos a Detroit Lakes, un lugar que pocos conocen pero que una vez
        lo hacen no quieren volver atrás.
      </p>
      <p class="uno">&copy; Gabriela Avila 2022</p>
      <!-- asigna el estilo "uno" a la imagen y al pie de foto -->
      <!--Se establece imagen de inicio-->
    </div>
  </body>
</html>
