<!DOCTYPE html>
<!--Ejercicio 1 Asignatura Grafica Interactiva por Gabriela Avila-->
<html>
  <head>
    <meta charset="UTF-8" />
    <meta lang="es" />
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <title>Detroit Lakes Minnesota</title>
    <link href="../stylesheet/estilos.css" rel="stylesheet" type="text/css" />
    <!--Se nombra el archivo que contiene todos los estilos-->
  </head>

  <body>
    <!--Estableciendo el titulo de la pagina web-->
    <div class="menunav">
      <h1>
        <a href="index.html" target="_self">DETROIT LAKES - MINNESOTA</a>
      </h1>
      <div class="dropdown">
        <button class="drop-button">☰</button>
        <div class="dropdown-content">
          <nav>
            <!--Menu de navegación para establecer botones-->
            <li>
              <a class="botonMenu" href="primerapagina.html" target="_self"
                >Espacio físico y ubicación</a
              ><!--Estilo "botonMenu" a cada uno de los botones-->
            </li>
            <li>
              <a class="botonMenu" href="segundapagina.html" target="_self"
                >Personajes que habitan</a
              >
            </li>
            <li>
              <a class="botonMenu" href="tercerapagina.html" target="_self"
                >Actividades del lugar</a
              >
            </li>
            <li>
              <a class="botonMenu" href="cuartapagina.html" target="_self"
                >Historia del lugar</a
              >
            </li>
            <li>
              <a class="botonMenu" href="quintapagina.html" target="_self"
                >Bibliografía</a
              >
            </li>
            <li>
              <a class="botonMenu" href="sextapagina.html" target="_self"
                >Mapa Interactivo</a
              >
            </li>
          </nav>
        </div>
      </div>
    </div>

    <h2>Personajes que habitan</h2>
    <p class="uno">
      <img
        class="tres"
        src="../pictures/familia.jpg"
        width="180px"
        heigth="180px"
        alt="Ciudad Detroit Lakes"
      />La población de Detroit Lakes es 9.255. Hay 832 personas por milla
      cuadrada, también conocida como densidad de población. La edad promedio en
      Detroit Lakes es 41,6, la edad promedio en EE. UU. es 37,4. El número de
      personas por hogar en Detroit Lakes es 2,1, el promedio estadounidense de
      personas por hogar es 2,6.
    </p>
    <h2>Tabla estado civil habitantes Detroit Lakes</h2>
    <table>
      <tr>
        <th>Porcentaje personas</th>
        <th>Estado civil</th>
      </tr>
      <tr>
        <td>46.8%</td>
        <td>Casados</td>
      </tr>
      <tr>
        <td>13.3%</td>
        <td>Divorciados</td>
      </tr>
      <tr>
        <td>27.4%</td>
        <td>Casados con hijos</td>
      </tr>
      <tr>
        <td>22.2%</td>
        <td>Solteros con hijos</td>
      </tr>
    </table>
    <p class="uno">&copy; Gabriela Avila 2022</p>
    <!-- asigna el estilo "uno" a la imagen y al pie de foto -->
  </body>
</html>
